<a class="btn btn-info" href="/my-account" style="margin: 2%;">Hesabıma Geri Dön</a>
<!-- credit card table-->
<div class="container" style=" margin-top: 3%;min-height: 400px;">
  <table class="table  table-striped" *ngIf="cards.length>0">
    <thead>
      <tr>
        <th scope="col">Kart no</th>
        <th scope="col">Ay</th>
        <th scope="col">Yıl</th>
        <th scope="col">cvv</th>
        <th scope="col">İşlem</th>
      </tr>
    </thead>
    <tbody *ngFor="let card of cards">
      <tr>
        <td>{{card.cardNo}}</td>
        <td>{{card.month}}</td>
        <td>{{card.year}}</td>
        <td>{{card.cvv}}</td>
        <td><button class="btn btn-danger" (click)="deleteCard(card.id)"><i class="far fa-trash-alt"></i></button></td>
        <td></td>

      </tr>
    </tbody>
  </table>
  <!-- alert -->
  <div class="alert alert-danger" role="alert" *ngIf="cards.length<1">
    Kayıtlı Kart Bulunamadı
  </div>
</div>