<div class="container" style=" margin-top: 3%">
  <table class="table  table-striped">
    <thead>
      <tr>
        <th scope="col">Kart no</th>
        <th scope="col">Ay</th>
        <th scope="col">Yıl</th>
        <th scope="col">cvv</th>
        <th scope="col">İşlem</th>
      </tr>
    </thead>
    <tbody *ngFor="let card of cards">
      <tr  > 
        <td>{{card.cardNo}}</td>
        <td>{{card.month}}</td>           
        <td>{{card.year}}</td>       
        <td>{{card.cvv}}</td>   
        <td>sil</td>   
        <td></td>           
       
      </tr>   
    </tbody>
  </table>
</div>
