<a class="btn btn-info" href="/employee-panel" style="margin: 1%;">Panele Geri Dön</a>
<div class="container" style=" margin-top: 3%">
 
  <div class="btn-group" role="group" aria-label="Basic example">
    <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search" [(ngModel)]="searchTerm" style="margin:3%;max-width: 300px;">
  </div>

  <table class="table  table-striped" *ngIf="invoices">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Kiralama Id</th>
        <th scope="col">Oluşturulma Tarihi</th>
        <th scope="col">Görüntüle</th>
        <th scope="col">İşlem</th>
      </tr>
    </thead>
    <tbody *ngFor="let invoice of invoices|filter:searchTerm">
      <tr  > 
        <td>{{invoice.id}}</td>
        <td>{{invoice.rentalId}}</td>     
        <td>{{invoice.creationDate}}</td>
        <td *ngIf="invoice.customerRole=='INDIVIDUAL_CUSTOMER'"><a class="btn btn-success" href="{{'/invoice/individual-customer/'+invoice.rentalId}}">Görüntüle</a></td>    
        <td *ngIf="invoice.customerRole=='CORPORATE_CUSTOMER'"><a class="btn btn-success" href="{{'invoice/corporate-customer/'+invoice.rentalId}}">Görüntüle</a></td>    
       <td>
         <button *ngIf="!deleteLoading" class="btn btn-danger" (click)="delete(invoice.id)"><i class="fas fa-trash-alt"></i></button>
         <button *ngIf="deleteLoading" class="btn btn-danger"><div class="spinner-grow text-secondary spinner-grow-sm " role="status">
          <span class="visually-hidden">Loading...</span>
        </div></button>
      </td>        
    </tbody>
  </table>
</div>
