<!--footer-->
<div class="container footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Rent A Car, Inc</p>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Anasayfa</a></li>
      <li class="nav-item"><a href="/my-account" class="nav-link px-2 text-muted">Hesabım</a></li>
      <li class="nav-item"><a href="/about-us" class="nav-link px-2 text-muted">Hakkımızda</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">İletişim</a></li>
    </ul>
  </footer>
</div>