<div class="text-center">
  <main class="form-register">
    <form [formGroup]="addCorporateCustomerForm" (ngSubmit)="add()">    
      <i class="far fa-registered fa-6x"></i>
      <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>
      <div class="form-floating">
        <input type="email" class="form-control" name="companyName" formControlName="companyName" placeholder="Şirket İsmi">
        <label for="floatingInput">Şirket İsmi</label>
      </div>
  
      <div class="form-floating">
        <input type="password" class="form-control" name="password" formControlName="password"
          placeholder="Şifre">
        <label for="floatingInput">Şifre</label>
      
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email">
        <label for="floatingInput">Email</label>
      
      </div>
  
      <div class="form-floating">
        <input type="text" class="form-control" name="taxNumber" formControlName="taxNumber" placeholder="taxNumber">
        <label for="floatingInput">Vergi Numarası</label>
      
      </div>
      <button class="w-100 btn btn-lg btn-primary" name="button" type="submit"    [disabled]='addCorporateCustomerForm.invalid || loading'>
        <span *ngIf="!loading">Kayıt Ol</span>
        <div *ngIf="loading">
          <div class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></div>
          Kayıt olunuyor
        </div>
      </button>
    </form>
    <div class="mt-4">
      <div class="d-flex justify-content-center links">
        Zaten hesabın var mı ><p> <a routerLink="/login" class="ml-2" style="color: #2C3E50;"> Giriş Yap</a>
      </div>
    </div>
  </main>
</div>