<a class="btn btn-info" href="/city" style="margin: 2%;">Listeye Geri Dön</a>
<div class="content">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header"><h5 class="title">Şehir ekle</h5></div>
          <div class="card-body">
              <form [formGroup]="cityAddForm">
                  <div class="mb-3">
                      <label for="cityName">Şehir Adı</label>
                      <div class="form-group">
                          <input type="text" 
                          id="cityName" 
                          formControlName="cityName" class="form-control" 
                          placeholder="Şehir İsmi"/>
                      </div>
                  </div>
              </form>
          </div>
          <div class="card-footer">
            <button *ngIf="!loading" class="btn btn-fill btn-primary" (click)="add()" [disabled]="cityAddForm.invalid">Ekle</button>
            <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              Gönderiliyor...
            </button>
          </div>
      </div>
  </div>
</div>