<a class="btn btn-info" href="/employee-panel" style="margin: 1%;">Panele Geri Dön</a>
<div class="container" style=" margin-top: 3%">
 
  <div class="btn-group" role="group" aria-label="Basic example">
    <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search" [(ngModel)]="searchTerm" style="margin:3%;max-width: 300px;">
    <a class="btn btn-primary" href="promo-code/add"><i class="fas fa-plus"></i></a>
  </div>

  <table class="table  table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Kod</th>
        <th scope="col">İndirim Oranı</th>
        <th scope="col">Başlangıç Tarihi</th>
        <th scope="col">Bitiş Tarihi</th>
        <th scope="col">Açıklama</th>
        <th scope="col">İşlemler</th>
      </tr>
    </thead>
    <tbody *ngFor="let code of codes |filter:searchTerm">
      <tr  > 
        <td>{{code.id}}</td>
        <td>{{code.code}}</td>        
        <td>{{code.discountRate}}</td>      
        <td>{{code.startDate}}</td>      
        <td>{{code.endDate}}</td>      
        <td>{{code.description}}</td>     
       <td>
         <a class="btn btn-primary" href='{{"/promo-code/update/"+code.id}}' ><i class="fas fa-pen"></i></a>
         <button *ngIf="!deleteLoading" class="btn btn-danger" (click)="delete(code.id)"><i class="fas fa-trash-alt"></i></button>
         <button *ngIf="deleteLoading" class="btn btn-danger"><div class="spinner-grow text-secondary spinner-grow-sm " role="status">
          <span class="visually-hidden">Loading...</span>
        </div></button>
      </td>        
    </tbody>
  </table>
</div>
