
  <!-- filter container-->
    <!-- City-->
  <div class="container-fluid justify-content-center " style="margin-top: 1%;margin-bottom: 1%;margin-left: 10%;"> 
    <div class="btn-group" role="group"  style="margin: 1%;">
        <button type="button" class="btn btn-primary" disabled>Şehir</button>
        <select class="btn btn-primary dropdown-toggle" [(ngModel)]="selectedCity" > 
            <option value="" selected>Hepsi</option>
            <option *ngFor="let city of cities" [value]="city.cityName">{{city.cityName}}</option>
          </select>
      </div>  
      <!-- Brand-->
      <div class="btn-group" role="group"  style="margin: 1%;">
        <button type="button" class="btn btn-secondary" disabled>Marka</button>
      <select class="btn btn-secondary dropdown-toggle" [(ngModel)]="selectedBrand"> 
        <option value="" selected>Hepsi</option>
        <option *ngFor="let brand of brands" [value]="brand.name">{{brand.name}}</option>
      </select>
    </div>
    <!-- Color-->
    <div class="btn-group" role="group"  style="margin: 1%;">
        <button type="button" class="btn btn-info" disabled>Renk</button>
      <select class="btn btn-info dropdown-toggle" [(ngModel)]="selectedColor"> 
        <option value="" selected>Hepsi</option>
        <option *ngFor="let color of colors" [value]="color.name">{{color.name}}</option>
      </select>
    </div>
    <!-- Segment-->
      <div class="btn-group" role="group"  style="margin: 1%;"> 
        <button type="button" class="btn btn-success" disabled>Sınıf</button>
      <select class="btn btn-success dropdown-toggle" [(ngModel)]="selectedSegment"> 
        <option value="" selected>Hepsi</option>
        <option *ngFor="let segment of segments" [value]="segment.segmentName">{{segment.segmentName}}</option>
      </select>
    </div>
      <button class="btn btn-primary" (click)="resetFilter()"><i class="fas fa-sync"></i></button>

  </div>
<!-- car cards-->
<app-car 
[selectedCity]="selectedCity" 
[selectedBrand]="selectedBrand" 
[selectedColor]="selectedColor" 
[selectedSegment]="selectedSegment" 
></app-car>