<div class="content">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header"><h5 class="title">Renk ekle</h5></div>
          <div class="card-body">
              <form [formGroup]="colorAddForm">
                  <div class="mb-3">
                      <label for="colorName">Color Adı</label>
                      <div class="form-group">
                          <input type="text" 
                          id="colorName" 
                          formControlName="name" class="form-control" 
                          placeholder="Color name"/>
                      </div>
                  </div>
              </form>
          </div>
          <div class="card-footer">
            <button *ngIf="!loading" class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              Gönderiliyor...
            </button>
          </div>
      </div>
      
  </div>
  
</div>