<section class="py-6 bg-light-primary">
  <div class="container">

    <div
      class="row row-cols-lg-3 row-cols-md-2 row-cols-1 text-center justify-content-center px-xl-6 aos-init aos-animate"
      data-aos="fade-up">
      <!--color-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/color"> <i class="fas fa-brush fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Renkler</h4>
          </div>
        </div>
      </div>
      <!--brand-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/brand"> <i class="far fa-copyright fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Markalar</h4>
          </div>
        </div>
      </div>
      <!--city-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/color"> <i class="fas fa-city fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Şehirler</h4>
          </div>
        </div>
      </div>
      <!--segment-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/segment"> <i class="fas fa-money-bill-wave fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Sınıflar</h4>
          </div>
        </div>
      </div>
      <!--car Maintenance-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/car-maintenance"> <i class="fas fa-tools fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Bakım İşlemleri</h4>
          </div>
        </div>
      </div>
      <!--car damage-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/car-damage"> <i class="fas fa-car-crash fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Araba Hasarları</h4>
          </div>
        </div>
      </div>
      <!--additional Service item-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/additional-service-item"> <i class="fas fa-concierge-bell fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Ek Hizmetler</h4>
          </div>
        </div>
      </div>
      <!--Promo code-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/color"> <i class="fas fa-barcode fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Promosyon Kodları</h4>
          </div>
        </div>
      </div>
      <!--users-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/user"> <i class="fas fa-users fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Kullanıcılar</h4>
          </div>
        </div>
      </div>
      <!--individual Customers-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/individual-customer"> <i class="fas fa-user fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Bireysel Müşteriler</h4>
          </div>
        </div>
      </div>
      <!--Corporate Customers-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/corporate-customer"> <i class="fas fa-user-tie fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Kurumsal Müşteriler</h4>
          </div>
        </div>
      </div>
      <!--Payments-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/payment"> <i class="fas fa-money-check-alt fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Ödemeler</h4>
          </div>
        </div>
      </div>
           <!--Invoices-->
           <div class="col my-3">
            <div class="card border-hover-primary hover-scale">
              <div class="card-body">
                <div class="text-primary mb-3">
                  <a class="btn btn-primary" href="/invoice"> <i class="fas fa-brush fa-3x"></i></a>
                </div>
                <h4 class="font-weight-bold mb-1">Faturalar</h4>
              </div>
            </div>
          </div>
      <!--Rentals-->
      <div class="col my-3">
        <div class="card border-hover-primary hover-scale">
          <div class="card-body">
            <div class="text-primary mb-3">
              <a class="btn btn-primary" href="/rental-management"> <i class="fas fa-car fa-3x"></i></a>
            </div>
            <h4 class="font-weight-bold mb-1">Kiralamalar</h4>
          </div>
        </div>
      </div>










    </div>
  </div>
</section>