<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
  <div class="container-fluid d-flex align-items-center">
    <h1 class="d-flex align-items-center fs-4 text-white mb-0">
    <a href="/#"><img src="https://cdn-icons.flaticon.com/png/512/2962/premium/2962575.png?token=exp=1642619401~hmac=ef607778cd2ee5f43840de1087af463e"
      width="38" height="30" class="me-3" alt="RentACar"></a>  
      Rent A Car
    </h1>
    <a class="btn btn-primary" *ngIf="!isAuth" href="/login" class="btn btn-primary ms-auto link-light" hreflang="ar">Giriş Yap</a>

    <div class="dropdown ms-auto" *ngIf="isAuth">
      <button class="btn btn-light  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Merhaba
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/my-account">Hesabım</a></li>
        <li *ngIf="isEmployee"> <a class="dropdown-item" href="/employee-panel">Yönetim Paneli</a></li>
        <li><button class="dropdown-item" (click)="onLogout()">Çıkış</button></li>
      </ul>
    </div>
  
  </div>
</header>