<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Rent A Car Hakkında</h1>
    <p class="col-md-8 fs-4">
      Rent A Car  Projesi <br>
      Mert Yalçın tarafından<br>
       BTK-Innova Java & Angular Uygulama Geliştirme Atölyesi kapsamında
       <br>Eğitmen Engin Demiroğ Gözetiminde 
       <br>10-28 Ocak 2022 tarihlerinde
       <br> Back-end:java ve front-end:angular şeklinde yazılmıştır.   
     
      <br> Herhangi bir sorunuz için eng.mertyalcin@gmail.com adresine mail atabilirsiniz.
      
      </p>
  
  </div>