<div class ="container">
  <div class="row row-cols-1 row-cols-md-5 g-4">
    <div  *ngFor="let car of cars" class="col">
      <div class="card h-100">
        <img src={{car.imageUrl}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{car.brandName}}</h5>
          <p class="card-text">{{car.model+" model"}}</p>
          <p class="card-text">{{car.colorName}}</p>
          <p class="card-text">{{car.description}}</p>
          <p class="card-text">{{car.dailyPrice | currency:'TRY'}}</p>
          <button class="btn btn-primary" style="margin-right: 2%;" (click)="routeToCarDetail(car.id)">Detay Gör</button>
          <button class="btn btn-secondary">Kirala</button>
        </div>
      </div>
    </div>
  </div>
</div>
