<a class="btn btn-info" href="/my-account" style="margin: 2%;">Hesabıma Geri Dön</a>
<div class="container" style=" margin-top: 3%">
  
  <!-- rental table for customer -->
  <table class="table  table-striped" *ngIf="rentals.length>=1">
    <thead>
      <tr>
        <th scope="col">Marka</th>
        <th scope="col">Model</th>
        <th scope="col">Kiralama başlangıç</th>
        <th scope="col">Kiralama bitiş</th>
        <th scope="col">Alınan Şehir</th>
        <th scope="col">Bırakılan Şehir</th>
        <th scope="col">Ödeme Miktarı</th>
        <th scope="col">Fatura</th>

      </tr>
    </thead>
    <tbody *ngFor="let rental of rentals">
      <tr>
        <td>{{rental.brandName}}</td>
        <td>{{rental.carName}}</td>
        <td>{{rental.rentDate}}</td>
        <td *ngIf="rental.rentalFinished">{{rental.returnDate}}</td>
        <td *ngIf="!rental.rentalFinished"><span class="badge rounded-pill bg-light  text-dark">devam ediyor</span></td>
        <td>{{rental.pickUpCityName}}</td>
        <td *ngIf="rental.rentalFinished">{{rental.returnCityName}}</td>
        <td *ngIf="!rental.rentalFinished"><span class="badge rounded-pill bg-light  text-dark">devam ediyor</span></td>
        <td>{{rental?.totalPayment}}</td>

        <td *ngIf="!rental.invoiceCreated && !rental.rentalFinished"><span
            class="badge rounded-pill bg-warning text-dark">Oluşturulmadı</span></td>
        <td *ngIf="!rental.invoiceCreated && rental.rentalFinished"><button
            class="badge rounded-pill bg-warning text-dark" (click)="addInvoice(rental.rentalId)">Oluştur</button></td>
        <td *ngIf="rental.invoiceCreated"><button class="badge rounded-pill bg-warning text-dark"
            (click)="routeToInvoice(rental.rentalId)">Görüntüle</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert alert-danger" role="alert" *ngIf="rentals.length==0" style="margin:3%">
  Daha Önce Gerçekleştirdiğin Kiralama İşlemi Bulunamadı.
</div>