<a class="btn btn-info" href="/segment" style="margin: 2%;">Listeye Geri Dön</a>
<div class="content">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header"><h5 class="title">Sınıf Güncelle</h5></div>
          <div class="card-body">
              <form [formGroup]="segmentUpdateForm">
                  <div class="mb-3">
                      <label for="segmentName">Sınıf Adı</label>
                      <div class="form-group">
                          <input type="text" 
                          id="segmentName" 
                          formControlName="name" class="form-control" 
                          placeholder="segment name"/>
                      </div>
                  </div>
              </form>
          </div>
          <div class="card-footer">
            <button *ngIf="!loading" class="btn btn-fill btn-primary" (click)="update()" [disabled]="segmentUpdateForm.invalid">Güncelle</button>
            <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              Gönderiliyor...
            </button>
          </div>
      </div>
  </div>
</div>