<div class="container" style="margin-top:3%">
  <div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body" >  
        <a href="/my-rentals" class="btn btn-primary">Kiralamalarım</a>  
        <p class="card-text">Bu alanda Kiralama geçmişinizi görebilirsiniz</p>   
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body" >  
        <a href="#" class="btn btn-primary">Kart bilgilerim</a>
        <p class="card-text">Bu alanda Kredi Kartı Bilgilerinizi Görebilirsiniz</p> 
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body" >  
        <a href="#" class="btn btn-primary">Kart bilgilerim</a>
        <p class="card-text">Bu alanda Kredi Kartı Bilgilerinizi Görebilirsiniz</p> 
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body" >  
        <a href="#" class="btn btn-primary">Kart bilgilerim</a>
        <p class="card-text">Bu alanda Kredi Kartı Bilgilerinizi Görebilirsiniz</p> 
      </div>
    </div>
  </div>
</div>

