
<div class="container">
  <div class="card" style="width: 36rem;height: 36rem;">
    <img src={{car.imageUrl}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{car.brandName}}</h5>
      <p class="card-text">{{car.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{car.dailyPrice | currency:'TRY'}}</li>
      <li class="list-group-item">{{car.colorName}} </li>      
      <li class="list-group-item">{{car.minAge}} </li>    
    </ul>
    <div class="card-body">
      <button class="btn btn-primary" (click)="addToCart()" >Sepete Ekle</button>  
    </div>
  </div>
</div>