<!--car detail component-->
<div class="container" style="margin-top:3%; display: flex;"  *ngIf="!carLoading">
  
    <img src={{car.imageUrl}} class="img-fluid rounded-start" alt="car" 
    style="max-width: 540px; max-height:300px;"
    >

  <div class="card " style="max-width: 540px; margin-left: 1%;">
    
    <div class="row g-0">
     
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-header">
            {{car.brandName}} {{car.carName}}
          </div>
          <h5 class="card-title">{{car.description}}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Renk: {{car.colorName}} </li>
            <li class="list-group-item">Model: {{car.model}}</li>
            <li class="list-group-item">Günlük Fiyat: {{car.dailyPrice+" TRY"}} </li>
            <li class="list-group-item">Bulunduğu Şehir: {{car.cityName}} </li>
            <li class="list-group-item">Minimum Kiralama Yaşı: {{car.minAge}} </li>
            <li class="list-group-item">Minimum Findex Skoru: {{car.findexScore}} </li>

          </ul>
      </div>
 
    </div>
    <button (click)="rentCar(car.id)" class="btn btn-primary">Kirala</button>
  </div>
  </div>
</div>
<!-- spinner -->
<div class="container " *ngIf="carLoading" style="margin: 20%;">
  <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Araç Detayları Yükleniyor...
  </button>
</div>

